.inner-container {
    section {
        padding: 5vh 0;
        .app {
            .one{
                font-size:3em;
                font-family: 'Open Sans Condensed', sans-serif;
                letter-spacing: .5vw;
                font-weight:600;
            }
            .two{
                font-family: 'Open Sans Condensed', sans-serif;
                font-size:1.4em;
            }
            width: 80%;
            margin: 0 auto;
            .app-inner {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .three {
                    width: 59%;
                    iframe {
                        height: 480px;
                        width: 100%;
                    }
                }
                form {
                    width: 39%;
                }
            }
        }
        .app-2 {
            .app-inner{
                width:80%;
                margin:0 auto;
            }
        }
    }
}
#map-canvas {
        height: 50vh;
        margin: 0px;
        padding: 0px;
        width:69%;
      }
      #directions-panel {
        height:50vh;
        float: right;
        width: 30%;
        overflow: auto;
      }

.map-app{
    display: flex;
    justify-content: space-around;
}
#myTable{
    margin-top: 5vh;
}
